{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Add Book</title>{% endblock %}
</head>
{% block content %}
<body>
    <h3 class='is-size-3'>Adding Books</h3>
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class='button is-info' type='submit'>Add</button>
    </form>
    {% endblock %}
</body>
</html>