{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Delete</title>{% endblock %}
</head>
<body>
    {% block content %}
    <h1 class='is-size-3'>Are you sure? <ion-icon name="sad-outline"></ion-icon></h1>
    <form method='post'>
        {% csrf_token %}
        <button class='button is-danger' type='submit'>Yes</button>
    </form>
    <a href="{% url 'home' %}">Nevermind</a>
    {% endblock %}
</body>
</html>