{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Details</title>{%endblock%}
</head>
<body>
    {% block content %}
    <h1 class='is-size-3'>A Closer look</h1>
    <h2>Category: {{book.category}}</h2>
    <h2>Title: {{book.title}}</h2>
    <h2>Author: {{book.author}}</h2>
    <p>Description: {{book.description}}</p>
    <p>URL: {{book.url}}</p>
    {% if book.image %}
    <img src="{{book.image.url}}" alt="book cover">
    {% endif %}
    <button class='button is-warning'><a href="{% url 'edit_book' book.pk %}">Edit this entry</a></button>
    <button class='button is-danger'><a href="{% url 'delete_book' book.pk %}">Delete this entry</a></button>
{% endblock %}
</body>
</html>