{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Details</title>{%endblock%}
</head>
<body>
    {% block content %}
    <h1>A Closer look</h1>
    <h2>{{book.category}}</h2>
    <h2>{{book.title}}</h2>
    <h2>{{book.author}}</h2>
    <p>{{book.description}}</p>
    {% if book.image %}
    <img src="{{book.image.url}}" alt="resources cover">
    {% endif %}
    <button><a href="{% url 'edit_book' book.pk %}">Edit this entry</a></button>
    <button><a href="{% url 'delete_book' book.pk %}">Delete this entry</a></button>
{% endblock %}
</body>
</html>