{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    {% block content %}
    <h1 class='is-size-3'>Our Resources: </h1>
    <header>
        {% for category in categories %}
        <span> | <a href={{ category.get_absolute_url }}>{{ category }} </a> | </span>
        {% endfor %}
    <article class='menu'>
        <p class="menu-label"></p>
        {% for book in books %}
        <p class='menu-list'><a href="{% url 'detail_book' book.pk %}"><ion-icon name="skull"></ion-icon> {{ book }}</a></p>
        <p><a href="{% url 'favorite' book.pk %}"> <3 </a>
        {% endfor %}
    <button id='add_book_button' class='button is-primary'><a href="{% url 'add_book' %}">Add a resource!</a></button>
    </article>
    {% endblock %}
</body>
</html>