{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    {% block content %}
    <h1 class='is-size-3'>Our Resources: </h1>
    <article class='menu'>
        <p class="menu-label">
            Resources! </p>
        {% for book in books %}
        <p class='menu-list'><a href="{% url 'detail_book' book.pk %}">{{ book }}</a></p>
        {% endfor %}
    <button id='add_book_button' class='button is-primary'><a href="{% url 'add_book' %}">Add a book!</a></button>
    </article>
    {% endblock %}
</body>
</html>