<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    {% block content %}
    <h1>Our Resources: </h1>
    <article>
        {% for book in books %}
        <p> <a href="{% url 'home' %}">{{ book }}</a></p>
        {% endfor %}
    <button><a href="{% url 'add_book' %}">Add a book!</a></button>
    </article>
    {% endblock %}
</body>
</html>