body {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    background-color: #FFFCFF;
}

/* index.html */
#add_book_button {
    margin-left: 14px;
    margin-top: 15px;
}

/* detail.html*/
#delete_button {
    margin-top: 15px;
}

#edit_button {
    margin-top: 15px;
}

/* add.html */
#add_button {
    margin-left: 0px;
    margin-top: 25px;
}

/* edit.html */
#save_button {
    margin-top: 15px;
}

h1 {
    background-color: #CBD4C2;
}

#site-header {
    background-color: #5da4c2;
}

#home-button {
    display: flex;
    justify-content: end;
    margin-right: 15px;
}