<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    {% block title %}<title>Freeshelf</title>{% endblock %}
</head>
<body>
    <p id='site-header'>
        <ion-icon name="book-outline" class='icon is-medium'></ion-icon>
        <span class='is-size-4'></span>
      </span>
    </p>
    <header><a href="accounts/login">Login</a>
        <a href="accounts/logout">Logout</a>
    </header>
    {% block content %}
    {% endblock%}
    <p id="home-button"><a href="{% url 'home' %}">Home</a></p>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>